<!DOCTYPE html>
<html>
  <head>
    <title>Email aktywacyjny</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      /* Base */
      body {
        margin: 0;
        padding: 0;
        min-width: 100%;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        background-color: #FAFAFA;
        color: #222222;
      }
      a {
        color: #000;
        text-decoration: none;
      }
      h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.25;
        margin-top: 0;
        margin-bottom: 15px;
        text-align: center;
      }
      p {
        margin-top: 0;
        margin-bottom: 24px;
      }
      table td {
        vertical-align: top;
      }
      /* Layout */
      .email-wrapper {
        max-width: 600px;
        margin: 0 auto;
      }
      .email-header {
        background-color: #0070f3;
        padding: 24px;
        color: #ffffff;
      }
      .email-body {
        padding: 24px;
        background-color: #ffffff;
      }
      .email-footer {
        background-color: #f6f6f6;
        padding: 24px;
      }
      /* Buttons */
      .button {
        display: inline-block;
        background-color: #0070f3;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        text-decoration: none;
        padding: 12px 24px;
        border-radius: 4px;
      }
    </style>
  </head>
  <body>
    <div class="email-wrapper">
      <div class="email-header">
        <h1>Witaj!</h1>
      </div>
      <div class="email-body">
        <p>Witaj <%= user.name %>,</p>
        <p>Dziękuje za zarejestrowanie na naszej stronie. Aby aktywować konto podaj kod:</p>
        <h2><%= activationCode %></h2>
        <p>Podaj ten kod na stronie internetowej w ciągu 5 minut.</p>
        <p>Jeśli nie rejestrowałeś się na naszej stronie, proszę zignoruj ten email.</p>
      </div>
      <div class="email-footer">
        <p>Jeśli masz jakieś pytania proszę o kontakt <a href="mailto:abucki100@gmail.com">abucki100@gmail.com</a></p>
      </div>
    </div>
  </body>
</html>