<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nowe Powiadomienie o Odpowiedzi</title>
</head>
<body>
  <h1>Cześć <%= name %>,</h1>
  <p>Do twojego pytania w filmie "<%= title %>" została dodana nowa odpowiedź.</p>
  <p>Zaloguj się na naszej stronie internetowej, aby zobaczyć odpowiedź i kontynuować dyskusję.</p>
  <p>Dziękujemy, że jesteś częścią naszej społeczności!</p>
</body>
</html>
